<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhD6dcenSs-vCmJfJpw95psoZNZimsqa4</string>
	<key>GCM_SENDER_ID</key>
	<string>297605850162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maksos.dotacatalog</string>
	<key>PROJECT_ID</key>
	<string>dotacat-ba655</string>
	<key>STORAGE_BUCKET</key>
	<string>dotacat-ba655.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297605850162:ios:d9ac86a36cdc80cba0082b</string>
</dict>
</plist>